.text {
  color: #555;
  font-size: 0.85em;
  font-style: italic; /* Курсив для кинематографичности */
  letter-spacing: 0.5px;
  position: relative;
}

@media (max-width: 768px) {
  .text {
    font-size: 12px;
  }
}
