.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.link:hover {
  color: var(--active);
}

.link {
  transition: color 0.3s;
}

@media (max-width: 768px) {
  .link {
    font-size: 14px;
  }
}
