.header {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.search {
  margin-left: 30px;
  margin-right: auto;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .search {
    display: none;
  }
}

@media (max-width: 1600px) {
  .header {
    padding: 6px 0;
  }
}
