.accordion {
  border-bottom: 1px solid #ccc;
}

.title {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 6px;
  transition: 0.3s;
}

.icon.open {
  transform: rotate(180deg);
}

.list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.list.open {
  max-height: 1000px;
  opacity: 1;
}
