.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;
  position: relative;
}

.image {
  max-width: 250px;
  height: 370px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.title {
  margin-bottom: 8px;
}

@media (max-width: 1600px) {
  .card {
    max-width: 230px;
  }

  .image {
    max-width: 230px;
    height: 340px;
  }
}

@media (max-width: 1280px) {
  .card {
    max-width: 200px;
  }

  .image {
    max-width: 200px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .card {
    max-width: 180px;
  }

  .image {
    max-width: 180px;
    height: 270px;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 160px;
  }

  .image {
    max-width: 160px;
    height: 240px;
  }

  .Title {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .card {
    max-width: 100%;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .title_wrapper {
    font-size: 13px;
    max-width: 150px;
  }

  .bottom {
    font-size: 12px;
  }
}

.card:hover {
  transform: translateY(-5px);
}

.card:hover .title {
  color: var(--active);
}

.card:hover .TMDBImage {
  transform: scale(1.03);
  transition: transform 0.5s ease;
  filter: brightness(0.9);
}

.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
